* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr{
    height: 1px;
    margin-right: 40px;
    margin-left: 40px;
    background: #C0C0C0;
}

#jogo{
    position: absolute;
    top: 7%;
    left: 50%;
    width:603px;
    height:600px;    
}
 
.linha{
    height:200px;
    border-bottom: 5px solid aliceblue;
}
 
.casa{
    width:200px;
    height:100%;
    float:left;
    border-right: 5px solid aliceblue;
}

#linha3{
    height:200px;
    border-bottom: 1px;
}

#placar{
    position: absolute;
    top: 20%;
    right: 59%;
    width: 500px;
    height: 400px;
    border-radius: 15px; /*Pontas arredondadas*/
    border: 3px solid aliceblue;
    background-color: aliceblue;
}

#titulo1{
    text-align: center;
    color: blueviolet;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.resultado{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 150px;
    margin-top: -50px;
    color: blueviolet;
}

.jogadores{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 20px;
    color: blueviolet;
}

#jogador1, #jogador2{
    width: 50%;
    
}

#resultado1, #resultado2{
    width: 50%;
}

